.editor-section {
  display: none;
  background-color: var(--clr4);
  min-height: 600px;
  flex-direction: column;
}

.editor-section > canvas {
  max-width: 600px;
  margin-block-start: 1rem;
  margin-block-end: 0.5rem;
}

.editor-section .actions {
  height: 350px;
  max-width: 300px;
}

.editor-section .action-btn {
  height: 40px;
  width: 40px;
  background-color: var(--clr2);
  border: none;
  border-radius: 0.75rem;
}

.editor-section .action-btn > i {
  font-size: 25px;
  color: var(--clr5);
}

.editor-section .action-btn:hover {
  cursor: pointer;
  background-color: var(--clr1);
}

.editor-section .action-img {
  width: 25px;
  height: 25px;
}

.editor-section .text-actions-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-block-end: 10px;
  gap: 5px;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    'text-input text-input text-input text-input text-input'
    '. switch-btn add-btn trash-btn .';
}

.editor-section .text-actions-container .text-input {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 0.75rem;
  text-indent: 1rem;
  grid-area: text-input;
}

.editor-section .text-actions-container .switch-btn {
  grid-area: switch-btn;
}

.editor-section .text-actions-container .add-btn {
  grid-area: add-btn;
}

.editor-section .text-actions-container .trash-btn {
  grid-area: trash-btn;
}

.editor-section .text-sizing-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-block-end: 10px;
  gap: 5px;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    'increase-btn decrease-btn align-left-btn align-center-btn align-right-btn'
    'fonts-select fonts-select line-up-btn line-down-btn input-text-color';
}

.editor-section .text-sizing-container .increase-btn {
  grid-area: increase-btn;
}

.editor-section .text-sizing-container .decrease-btn {
  grid-area: decrease-btn;
}

.editor-section .text-sizing-container .align-left-btn {
  grid-area: align-left-btn;
}

.editor-section .text-sizing-container .align-center-btn {
  grid-area: align-center-btn;
}

.editor-section .text-sizing-container .align-right-btn {
  grid-area: align-right-btn;
}

.editor-section .text-sizing-container .fonts-select {
  grid-area: fonts-select;
  height: 40px;
  border: none;
  border-radius: 0.75rem;
  width: 110px;
  color: var(--clr5);
}

.editor-section .text-sizing-container .line-up-btn {
  grid-area: line-up-btn;
}

.editor-section .text-sizing-container .line-down-btn {
  grid-area: line-down-btn;
}

/* Color input inside a div with opacity 0 */
.editor-section .text-sizing-container .input-text-color {
  grid-area: input-text-color;
  position: relative;
  border-radius: 0.75rem;
  border: none;
  height: 40px;
  width: 40px;
  background-color: var(--clr2);
}

.editor-section .text-sizing-container .input-text-color:hover {
  background-color: var(--clr1);
}

.editor-section .text-sizing-container .input-text-color .color-input {
  opacity: 0;
  position: absolute;
  left: 3px;
  top: 3px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 6px;
}

.editor-section .text-sizing-container .input-text-color img {
  width: 25px;
  height: 25px;
}
/* END OF Color input inside a div with opacity 0 */

.share-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 60px;
  row-gap: 10px;
  grid-template-areas:
    'download-btn upload-btn'
    'share-btn-container go-there-btn-container';
}

.share-container .download-upload-btn {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 0.75rem;
  background-color: var(--clr1);
  color: var(--clr2);
  font-family: montserrat;
}

.share-container .download-upload-btn:hover {
  cursor: pointer;
}

.download-btn {
  grid-area: download-btn;
  font-size: 0.833rem;
}

.upload-btn {
  grid-area: upload-btn;
}

.share-container .go-there-share {
  display: none;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 0.75rem;
  background-color: var(--clr1);
  color: var(--clr2);
  font-family: montserrat;
}

.share-container .go-there-btn-container {
  grid-area: go-there-btn-container;
}

.share-container .share-btn-container {
  grid-area: share-btn-container;
}

.share-container .go-there-share a {
  font-size: 0.833rem;
  height: 40px;
}
